# Data Structures Programs
## Lists

### 1: Creating and Accessing Lists

Create a list of the first 20 positive integers. Print the list.

In [2]:
positive_integer = list(range(1,21))
print(positive_integer)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

### 2: Accessing List Elements

Print the first, middle, and last elements of the list.

In [7]:
middle_element = len(positive_integer) // 2
print("First element:",positive_integer[0], "- Middle element of the list:", middle_element ,"- Last element",positive_integer[-1])

First element: 1 - Middle element of the list: 10 - Last element 20

### 3: List Slicing

Print the first five elements, the last five elements, and the elements from index 5 to 15 of the list

In [18]:
first_5_element = positive_integer[:5]
last_5_element = positive_integer[-5:]
middle_elements_list = positive_integer[4:15]
print(first_5_element, last_5_element, middle_elements_list)

[1, 2, 3, 4, 5] [16, 17, 18, 19, 20] [5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

### 4: List Comprehensions

Create a new list containing the squares of the first 10 positive integers using a list comprehension. Print the new list.

In [24]:
square_list = [i**2 for i in range(1, 11)]
print(square_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 5: Filtering Lists

Create a new list containing only the even numbers from the list created in program 1 using a list comprehension. Print the new list.

In [26]:
even_numbers = [num for num in positive_integer if num % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### 6: List Methods

Create a list of random numbers and sort it in ascending and descending order. Remove the duplicates from the list and print the modified list.

In [ ]:
import random
random_number = [random.randint(1, 20) for _ in range(10)]
print("Ascending Order", sorted(random_number), "Descending Order", sorted(random_number, reverse=True))

Assending Order [3, 7, 8, 10, 11, 13, 14, 14, 16, 17] Decending Order [17, 16, 14, 14, 13, 11, 10, 8, 7, 3]

### 7: Nested Lists

Create a nested list representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [36]:
matrix = [[1,2,3,4,5],[6,7,8,9,10],[11,12,13,14,15]]
for row in matrix:
    print(row)

print("Element at 2nd row and third column", matrix[1][2])

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[11, 12, 13, 14, 15]
Element at 2nd row and third column 8

### 8: List of Dictionaries

Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'. Sort the list of dictionaries by the 'score' in descending order and print the sorted list.

In [37]:
students = [
    {"name": "Alex", "score": 62},
    {"name": "Talha", "score": 80},
    {"name": "Jon", "score": 56},
    {"name": "Hood", "score": 79},
    {"name": "Anna", "score": 82}
]

student_sort = sorted(students, key=lambda x: x['score'], reverse=True)

print("Students sorted by score (descending):")
for student in student_sort:
    print(student)

Students sorted by score (descending):
{'name': 'Anna', 'score': 82}
{'name': 'Talha', 'score': 80}
{'name': 'Hood', 'score': 79}
{'name': 'Alex', 'score': 62}
{'name': 'Jon', 'score': 56}

### 9: Matrix Transposition

Write a function that takes a 3x3 matrix (nested list) as input and returns its transpose. Print the original and transposed matrices.

In [41]:
def transpose_matrix(matrix):
    # Using list comprehension to transpose
    transpose = [[matrix[j][i] for j in range(3)] for i in range(3)]
    return transpose


# Original 3x3 matrix
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
transposed = transpose_matrix(matrix)
print("transpose", transposed)
# Print both
print("Original Matrix:")
for row in matrix:
    print(row)

print("\nTransposed Matrix:")
for row in transposed:
    print(row)

transpose [[1, 4, 7], [2, 5, 8], [3, 6, 9]]
Original Matrix:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

Transposed Matrix:
[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

### 10: Flattening a Nested List

Write a function that takes a nested list and flattens it into a single list. Print the original and flattened lists.

In [ ]:
flattened = [num for row in matrix for num in row]

print("Flattened List", flattened)

Flattened List [1, 2, 3, 4, 5, 6, 7, 8, 9]

### 11: List Manipulation

Create a list of the first 10 positive integers. Remove the elements at indices 2, 4, and 6, and insert the element '99' at index 5. Print the modified list.

In [53]:
numbers = list(range(1, 11))
print("Original list:", numbers)

for i in sorted([2, 4, 6], reverse=True):
    del numbers[i]

numbers.insert(5, 99)

print("Modified list:", numbers)

Original list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Modified list: [1, 2, 4, 6, 8, 99, 9, 10]

### 12: List Zipping

Create two lists of the same length. Use the `zip` function to combine these lists into a list of tuples and print the result.

In [56]:
List1 = ["Talha", "Sara", "Julia", "Mariyam", "Carrie"]
list2 = ["UAE", "Italy", "Germany", "Malaysia", "USA"]

combine_list = zip(List1, list2)

print(list(combine_list))

[('Talha', 'UAE'), ('Sara', 'Italy'), ('Julia', 'Germany'), ('Mariyam', 'Malaysia'), ('Carrie', 'USA')]

### 13: List Reversal

Write a function that takes a list and returns a new list with the elements in reverse order. Print the original and reversed lists.

In [7]:
def get_list_user():
    user_list = []
    while True:
        get_list = input("Enter an element for list (type 0 to stop): ")
        if get_list == "0":
            break
        else:
            user_list.append(get_list)
    return user_list

# Call the function once and store the result
original_user_list = get_list_user()
print("Your original list:", original_user_list)
print("Your Reverse list:", sorted(original_user_list, reverse=True))

Your original list: ['11', '25', '21', '14', '69', '85', '48']
Your Reverse list: ['85', '69', '48', '25', '21', '14', '11']

### 14: List Rotation

Write a function that rotates a list by n positions. Print the original and rotated lists.

In [8]:
def rotate_list(lst, n):
    n = n % len(lst)
    return lst[-n:] + lst[:-n]

original_list = [1, 2, 3, 4, 5]

rotated_list = rotate_list(original_list, 2)
print("Original list:", original_list)
print("Rotated list (right by 2):", rotated_list)

rotated_list_left = rotate_list(original_list, -2)
print("Rotated list (left by 2):", rotated_list_left)

Original list: [1, 2, 3, 4, 5]
Rotated list (right by 2): [4, 5, 1, 2, 3]
Rotated list (left by 2): [3, 4, 5, 1, 2]

### 15: List Intersection

Write a function that takes two lists and returns a new list containing only the elements that are present in both lists. Print the intersected list.

In [9]:
def intersect_lists(list1, list2):
    return [item for item in list1 if item in list2]

list_a = [1, 2, 3, 4, 5]
list_b = [4, 5, 6, 7, 8]

intersected_list = intersect_lists(list_a, list_b)

print("List A:", list_a)
print("List B:", list_b)
print("Intersected List:", intersected_list)

List A: [1, 2, 3, 4, 5]
List B: [4, 5, 6, 7, 8]
Intersected List: [4, 5]