## Sets

### Exercise 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

In [ ]:
my_set = set(range(1, 11))
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Exercise 2: Adding and Removing Elements

Add the number 11 to the set created in Exercise 1. Then remove the number 1 from the set. Print the modified set.

In [ ]:
my_set.add(11)
my_set.discard(1) # no error raised and (remove) function raise error if no value found 
print(my_set)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

### Exercise 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [25]:
set1 = set(range(1, 6))
set2 = set(range(2, 11, 2))

print(f"Set 1: {set1} \nSet2: {set2} \n")

result_union = set1.union(set2)
print(f"Union of two sets {result_union} \n")

result_intersection = set1.intersection(set2)
print(f"Intersection of two sets {result_intersection} \n")

result_difference = set1.difference(set2)
print(f"Difference of two sets {result_difference} \n")

sym_difference = set1 ^ set2
print(f"Symmetric difference of two sets {sym_difference} \n")

Set 1: {1, 2, 3, 4, 5}
Set2: {2, 4, 6, 8, 10}

Union of two sets {1, 2, 3, 4, 5, 6, 8, 10}

Intersection of two sets {2, 4}

Difference of two sets {1, 3, 5}

Symmetric difference of two sets {1, 3, 5, 6, 8, 10}

### Exercise 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [28]:
squares = {x**2 for x in range(1, 11)}
print(sorted(squares))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Exercise 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Exercise 1 using a set comprehension. Print the new set.

In [33]:
even_num = {x for x in my_set if x%2 == 0}
print(even_num)

{2, 4, 6, 8, 10}

### Exercise 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [37]:
duplicate = [1,2,3,4,5,6,5,4,3,2,4,5,8]
print(set(duplicate))

{1, 2, 3, 4, 5, 6, 8}

### Exercise 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [41]:
set1 = set(range(1,6))
set2 = set(range(1,4))

print(f"First set is: {set1} Second set is {set2}")

subset = set2.issubset(set1)
print(f"find subset {subset}")

superset = set1.issuperset(set2)
print(f"find Superset {subset}")

First set is: {1, 2, 3, 4, 5} Second set is {1, 2, 3}
find subset True
find Superset True

### Exercise 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

In [44]:
my_frozenset = frozenset(range(1,6))
print(my_frozenset)

frozenset({1, 2, 3, 4, 5})

### Exercise 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [46]:
set1 = set(range(1,6))

convert = list(set1)

convert.append(6)

back_to_set = set(convert)

print(back_to_set)
print(type(back_to_set))

{1, 2, 3, 4, 5, 6}
<class 'set'>

### Exercise 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

In [50]:
my_dict = {
    frozenset({1, 2}): 10,
    frozenset({3, 4, 5}): 20,
    frozenset({5,6}): 30
}

print(my_dict)

{frozenset({1, 2}): 10, frozenset({3, 4, 5}): 20, frozenset({5, 6}): 30}

### Exercise 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

In [52]:
new_set = {"apple", "mango", "orange", "banana"}

for item in new_set:
    print(item)

mango
orange
banana
apple

### Exercise 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

In [55]:
set12 = set(range(1,6))

while set12:
    remove_item = set12.pop()
    print(f"remove element {remove_item} and set elements {set12}")

remove element 1 and set elements {2, 3, 4, 5}
remove element 2 and set elements {3, 4, 5}
remove element 3 and set elements {4, 5}
remove element 4 and set elements {5}
remove element 5 and set elements set()

### Exercise 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [58]:
mySet1 = {1,2,3,4,5,6}
mySet2 = {5,6,7,8,9,10,12}

mySet1.symmetric_difference_update(mySet2)

print(mySet1)

{1, 2, 3, 4, 7, 8, 9, 10, 12}

### Exercise 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

In [61]:
member_set_1 = set(range(1, 11))
member_set_2 = {4,7,9}

present_element = member_set_2.intersection(member_set_1)
print(present_element)

{9, 4, 7}

### Exercise 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [62]:
set_of_tuples = {(1,2), (3,4), (5,6)}
print(set_of_tuples)

{(1, 2), (3, 4), (5, 6)}