## Data Structures - Tuple

#### 1: Create a tuple with the first 10 positive integers. Print the tuple.

In [3]:
myTuple = tuple(range(1, 11))
print(myTuple)
print(type(myTuple))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>

#### 2: Print the first, middle, and last elements of the myTuple

In [ ]:
print(f"first element is: {myTuple[0]} Middle Element is {myTuple[len(myTuple)//2]} and the last element is {myTuple[-1]}")

first element is: 1 Middle Element is 6 and the last element is 10

### 3: Tuple Slicing
#### Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple

In [ ]:
print(f"First 3 Element {myTuple[:3]} last 3 element {myTuple[-3:]} and element from index 2 to 5 {myTuple[2:5]}")

First 3 Element (1, 2, 3) last 3 element (8, 9, 10) and element from index 2 - 5 (3, 4, 5)

### 4: Nested Tuples
#### Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [13]:
nested_tuple = (
    (1,2,3),
    (3,4,5),
    (6,7,8),
)

print(nested_tuple)
# Print the element from 2nd row and the 3rd element
print(nested_tuple[1][2])

((1, 2, 3), (3, 4, 5), (6, 7, 8))
5

### 5: Tuple Concatenation
#### Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [14]:
tuple1 = (1,2,3)
tuple2 = (4,5,6)

print(tuple1 + tuple2)

(1, 2, 3, 4, 5, 6)

### 6: Tuple Methods

#### Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [18]:
numbers = (1,1,2,2,2,3,3,4,2,8,5,7,7,7,3)
count = {}
for number in numbers:
    if number in count:
        count[number] += 1
    else:
        count[number] = 1
print(count)

{1: 2, 2: 4, 3: 3, 4: 1, 8: 1, 5: 1, 7: 3}

### 7: Unpacking Tuples

#### Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [20]:
my_tuple = (10, 20, 30, 40, 50)

a, b, c, d, e = my_tuple # unpack variable

print("a =", a)
print("b =", b)
print("c =", c)
print("d =", d)
print("e =", e)

a = 10
b = 20
c = 30
d = 40
e = 50

### 8: Tuple Conversion

#### Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [23]:
my_list = [1,2,3,4,5,6]
convert = tuple(my_list)
print(convert)
print(type(convert))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>

### 9: Tuple of Tuples

#### Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [25]:
tuple_of_tuples = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)

# tuple of tuples
print(tuple_of_tuples)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

### 10: Tuple and List

#### Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [32]:
tuple1 = (1,2,3,4,5)
print(f"{tuple1} and type is {type(tuple1)}")

## convert 
list1 = list(tuple1)
list1.append(6)

print(f"{list1} and type is {type(list1)}")

## again back to tuple
tuple2 = tuple(list1)
print(f"{tuple2} and type is {type(tuple2)}")

(1, 2, 3, 4, 5) and type is <class 'tuple'>
[1, 2, 3, 4, 5, 6] and type is <class 'list'>
(1, 2, 3, 4, 5, 6) and type is <class 'tuple'>

### 11: Tuple and String
#### Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [35]:
str_tuple = ("hello")
my_str = "world"

result = str_tuple + my_str
print(result)

helloworld

### 12: Tuple and Dictionary

#### Create a dictionary with tuple keys and integer values. Print the dictionary.

In [36]:
my_dict = {
    (1,2) : 10,
    (3,4) : 20,
    (5,6) : 30,
}

print(my_dict)

{(1, 2): 10, (3, 4): 20, (5, 6): 30}

### 13: Nested Tuple Iteration
#### Create a nested tuple and iterate over the elements, printing each element.

In [37]:
nested_tuple1 = (
    (1,2,3,4),
    (5,6,7,8),
)

for nested in nested_tuple1:
    for i in nested:
        print(i)

1
2
3
4
5
6
7
8

### 14: Tuple and Set

#### Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [40]:
duplicate = (1,2,3,4,5,6,6,2)

# covert to Set 
convert_set = set(duplicate)

print(convert_set)

# now back to tuple
result = tuple(convert_set)
print(f"Actual Tuple {duplicate} after using set {result}")

{1, 2, 3, 4, 5, 6}
Actual Tuple (1, 2, 3, 4, 5, 6, 6, 2) after using set (1, 2, 3, 4, 5, 6)

### 15: Tuple Functions

#### Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [48]:
def find_tuple(num):
    print(f"maximum value:  {max(num)} \nminimum value: {min(num)} \nThe sum is : {sum(num)}")


number = (1,2,3,4,5,6)
find_tuple(number)

maximum value:  6
minimum value: 1
The sum is : 21